<div class="col">
    <div class="card h-100">
        <div class="card-header">
            <h3>{{ name }}</h3>
            <b><i class="fas fa-keyboard"></i> Engineer</b>
        </div>
        <div class="card-body">
        <p class="card-text">
            <div class="info">ID: {{ id }}</div><br>
            <div class="info">E-mail: <a href="mailto:{{ email }}">{{ email }}</a></div><br>
            <div class="info">GitHub:  <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></div><br>
        </p>
        </div>
        <div class="card-footer">
        <small class="text-muted"></small>
        </div>
    </div>
</div>